<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f792cf">  <td>17/02/15 10:19:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Primerchormetestmoje.setUpSelenium()[pri:0, instance:primeri19.Primerchormetestmoje@3c756e4d]">&gt;&gt;setUpSelenium</td> 
<td>&nbsp;</td>  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/02/15 10:20:03</td>   <td>8398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Primerchormetestmoje.testCalculator()[pri:0, instance:primeri19.Primerchormetestmoje@3c756e4d]">testCalculator</td> 
  <td>main@1268650975</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>17/02/15 10:20:04</td>   <td>9588</td> <td title="&lt;&lt;Primerchormetestmoje.afterSuite()[pri:0, instance:primeri19.Primerchormetestmoje@3c756e4d]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1268650975</td>   <td></td> </tr>
</table>
